<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.medicalhistory">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/medical_history_logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/medical_history_logo_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MedicalHistory">
        <activity android:name=".NewEntry"></activity>
        <activity android:name=".fullHistory" />
        <activity
            android:name=".FullHistoryActivity"
            android:label="@string/title_activity_full_history"
            android:theme="@style/Theme.MedicalHistory.NoActionBar" />
        <activity android:name=".PatientActivity" />
        <activity android:name=".PageActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>